* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer";
  font-family: "El Messiri", sans-serif;
}
header {
  grid-area: header;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}
.navbar-brand {
  font-family: "Great Vibes", cursive;
  font-size: 2rem;
}

.form-control {
  width: 200px;
}
.products-container {
  display: grid;
  grid-template-columns: repeat(1fr);
  justify-content: center;
  gap: 1rem;
  position: relative;
}
.card-img {
  width: 250px;
  height: 250px;
  padding: 1rem;
}
.fa-heart {
  font-size: 1.7em;
}
.fav {
  color: red;
}
.error {
  color: red;
  background-color: rgba(255, 0, 0, 0.1);
  padding: 1rem;
  font-size: 1.2em;
  text-align: center;
  margin-top: 1rem;
}
.message {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 1rem;
  font-size: 1.2em;
  text-align: center;
  margin-top: 1rem;
}

@media (min-width: 576px) {
  .products-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .products-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1200px) {
  .products-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
